{% extends "app/layout.html" %}

{% block content %}

    <div class="jumbotron">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Upload Chat</h2>
            <div class="input-group">
                <input type="file" class="form-control">
                <span class="btn-success input-group-addon">Process...</span>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Upload Document</h2>
            <div class="input-group">
                <input type="file" class="form-control">
                <span class="btn btn-success input-group-addon">Process...</span>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Submit Link</h2>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="btn-success input-group-addon">Process...</span>
            </div>
        </div>
    </div>

{% endblock %}
